<!DOCTYPE html>
<html>
<head>
  <title>Stellar federation</title>
  <%= stylesheet_link_tag    "stellar_federation/application", media: "all" %>
  <%= javascript_include_tag "stellar_federation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
